form{
  border: 2px solid rgb(136, 136, 136);
  display: block;
  width: 154px;
  margin: 30px auto;
  text-align: center;
}
input{
  width: 33%;
}
input:first-child{
  text-align: center;
  width: 150px;
  height: 50px;
}
button{
  width: 33%;
}
.access {
  background-color: rgb(170, 226, 171)
}
.error{
  background-color: rgb(233, 161, 161)
}
